@use "../../styles/mixin" as *;

// .hero_container {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//     position: relative;

//     @include mobile {
//         align-items: flex-end;
//         text-align: center;
//     }

//     .hero_content {
//         width: 50%;

//         @include mobile {
//             width: 100%;
//             position: absolute;
//             bottom: 2rem;
//             z-index: 1;
//         }
//         h1 {
//             font-weight: 400;
//             color: colormap(text_secondary);

//             .hero_designation {
//                 font-size: 1.5rem;
//                 font-weight: 600;
//                 color: colormap(text_secondary);
//             }
//             .hero_name {
//                 font-size: 4rem;
//                 font-weight: 900;
//                 color: colormap(text_primary);
//                 margin-bottom: 1rem;

//                 @include mini {
//                     font-size: 3rem;
//                 }

//                 @include sm {
//                     font-size: 2.5rem;
//                 }
//             }
//         }
//         p {
//             font-size: 1.125rem;
//             color: colormap(text_secondary);
//             line-height: 1.6;

//             @include sm {
//                 font-size: 1rem;
//             }
//         }
//     }

//     .hero_image {
//         width: 50%;
//         position: relative;
//         aspect-ratio: 1;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         &::before {
//             content: "";
//             position: absolute;
//             width: 78%;
//             height: 78%;
//             border-radius: 50%;
//             background: radial-gradient(
//                 circle at 50% 45%,
//                 rgba(235, 220, 205, 0.6) 0%,
//                 rgba(235, 220, 205, 0.45) 35%,
//                 rgba(235, 220, 205, 0.412) 55%,
//                 rgba(235, 220, 205, 0.34) 70%,
//                 rgba(235, 220, 205, 0.05) 82%,
//                 transparent 100%
//             );
//             z-index: 0;
//             filter: blur(3px);
//         }

//         .hero_img {
//             position: relative;
//             z-index: 1;
//             height: 100%;
//             width: 100%;
//             object-fit: contain;
//             object-position: center;
//         }

//         @include mobile {
//             width: 100%;
//             height: 80%;
//             top: -10%;
//             z-index: 0;

//             .hero_img{
//                 object-position: top;
//             }

//             &::before {
//                 width: 100%;
//                 height: 77%;
//             }
//         }

//         @include ls{

//         }
//     }
// }

// .trail {
//     position: fixed;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     pointer-events: none;
//     background: linear-gradient(45deg, colormap(primary), colormap(success), colormap(border_accent));
//     transform: translate(-50%, -50%);
//     opacity: 0.8;
//     transition:
//         transform 0.1s,
//         opacity 0.3s;
//     z-index: 99;
// }

@use "../../styles/mixin" as *;

.hero_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    /* ✅ MOBILE ONLY */
    @include mobile {
        flex-direction: column;
        height: auto;
    }

    .hero_content {
        width: 50%;

        /* ✅ MOBILE FIX */
        @include mobile {
            width: 100%;
            position: static; /* 🔥 IMPORTANT */
            text-align: center;
            padding: 1.5rem;
            order: 2;
        }

        h1 {
            font-weight: 400;
            font-size: 1.5rem;
            color: colormap(text_secondary);

            .hero_designation {
                font-size: 1.5rem;
                font-weight: 600;
                color: colormap(text_secondary);
            }

            .hero_name {
                font-size: 4rem;
                font-weight: 900;
                color: colormap(text_primary);
                margin-bottom: 1rem;

                @include mini {
                    font-size: 3rem;
                }

                @include sm {
                    font-size: 2.5rem;
                }
            }
        }

        p {
            font-size: 1rem;
            color: colormap(text_secondary);
            line-height: 1.6;

            @include sm {
                font-size: 1rem;
            }
        }

        .hero_btns {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            @include mobile {
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 1.5rem;
            }

            .hero_button {
                font-size: 0.875rem;
                padding: 0.875rem 1.5rem;
                border-radius: 3rem;
                background-color: colormap(primary);
                color: colormap(background_secondary);
                box-shadow: 0 11px 1px rgba($color: colormap(background_secondary), $alpha: 1);
            }
            
            .hero_button_outline {
                position: relative;
                overflow: hidden;
                z-index: 0;

                font-size: 0.875rem;
                padding: 0.875rem 1.75rem;
                border-radius: 3rem;
                background: transparent;
                color: colormap(primary);
                border: 2px solid colormap(primary);
                cursor: pointer;

                transition:
                    color 0.6s ease,
                    box-shadow 0.8s ease,
                    background 0.8s ease;

                /* text above waves */
                span {
                    position: relative;
                    z-index: 2;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    pointer-events: none;
                    top: 0;
                    left: -50%;
                    right: -50%;
                    height: 0;
                    padding-bottom: 200%;
                    border-radius: 39%;
                    opacity: 0;
                    transition:
                        transform 0s cubic-bezier(0.2, 0, 0.1, 1) 0.5s,
                        opacity 0.4s ease;
                }

                &::before {
                    background: linear-gradient(25deg, colormap(primary), rgba(colormap(primary), 0));
                    transform: translate3d(-10%, 4.5em, 0) rotate(330deg);
                }

                &::after {
                    background: linear-gradient(70deg, rgba(colormap(primary), 0.5), rgba(colormap(primary), 0));
                    transform: translate3d(10%, 4.5em, 0) rotate(0deg);
                }

                &:hover,
                &:focus {
                    color: colormap(background_secondary);
                    // background: colormap(primary);
                    box-shadow: 0 0 1.5rem rgba(colormap(primary), 0.45);
                }

                &:hover::before,
                &:hover::after,
                &:focus::before,
                &:focus::after {
                    opacity: 1;
                    transition:
                        transform 2s ease,
                        opacity 0.3s ease;
                }

                &:hover::before,
                &:focus::before {
                    transform: translate3d(-10%, -1em, 0) rotate(110deg);
                }

                &:hover::after,
                &:focus::after {
                    transform: translate3d(10%, -1em, 0) rotate(180deg);
                }
            }
        }
    }

    .hero_image {
        width: 50%;
        position: relative;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            width: 78%;
            height: 78%;
            border-radius: 50%;
            background: radial-gradient(
                circle at 50% 45%,
                rgba(235, 220, 205, 0.6) 0%,
                rgba(235, 220, 205, 0.45) 35%,
                rgba(235, 220, 205, 0.412) 55%,
                rgba(235, 220, 205, 0.34) 70%,
                rgba(235, 220, 205, 0.05) 82%,
                transparent 100%
            );
            z-index: 0;
            filter: blur(3px);
        }

        .hero_img {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }

        /* ✅ MOBILE FIX */
        @include mobile {
            width: 100%;
            height: 60vh;
            order: 1;

            .hero_img {
                object-position: top;
            }

            &::before {
                width: 100%;
                height: 80%;
            }
        }
    }
}
