@use "../../styles/mixin" as *;

.hero_container {
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100dvh;
    // padding-left: 10%;

    @include sm {
        align-items: center;
        text-align: center;
    }

    .hero_content {
        width: 50%;

        @include mobile {
            width: 100%;
            position: absolute;
            z-index: 1;
        }

        .hero_name {
            font-size: 4rem;
            font-weight: 900;
            color: colormap(text_primary);
            margin-bottom: 1rem;

            @include mini {
                font-size: 3rem;
            }

            @include sm {
                font-size: 2.5rem;
            }
        }
    }

    .hero_image {
        width: 50%;
        position: relative;
        aspect-ratio:.85;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            width: 78%;
            height: 78%;
            border-radius: 50%;
            background: radial-gradient(
                circle at 50% 45%,
                rgba(235, 220, 205, 0.6) 0%,
                rgba(235, 220, 205, 0.45) 35%,
                rgba(235, 220, 205, 0.412) 55%,
                rgba(235, 220, 205, 0.34) 70%,
                rgba(235, 220, 205, 0.05) 82%,
                transparent 100%
            );
            z-index: 0;
            filter: blur(3px);
        }

        .hero_img {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @include mobile {
            width: 100%;
            height: 80%;

            &::before {
                width: 88%;
                height: 88%;
            }
        }
    }
}

// .trail {
//     position: fixed;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     pointer-events: none;
//     background: linear-gradient(45deg, colormap(primary), colormap(success), colormap(border_accent));
//     transform: translate(-50%, -50%);
//     opacity: 0.8;
//     transition:
//         transform 0.1s,
//         opacity 0.3s;
//     z-index: 99;
// }
