@use './_mixin' as *;

:root {
    font-size: 16px;

    @include desktop {
        font-size: 16px;
    }

    @include mini {
        font-size: 15.5px;
    }

    @include mobile {
        font-size: 14px;
    }

    @include sm {
        font-size: 13px;
    }

    @include xs {
        font-size: 12px;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    // font-family: $Dosis_Font !important;
    overflow-x: hidden;
    background-color: #FAF8F6;
}

html {

    body {

        * {
            letter-spacing: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        ul li,
        label {
            margin-bottom: 0;
        }

        input,
        button,
        textarea {
            // font-family: $Dosis_Font;
        }

        input {
            // font-family: $Dosis_Font !important;

            &:focus,
            &:active {
                box-shadow: 0;
                outline: 0;
            }
        }

        a {
            text-decoration: none !important;
            // font-family: $Dosis_Font !important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        img {
            width: 100%;
            max-width: 100%;
        }

        button {
            cursor: pointer;
        }

        button,
        button:active,
        button:focus,
        input,
        input:active,
        input:focus,
        textarea,
        textarea:active,
        textarea:focus,
        input[type=submit]:active,
        input[type=submit]:focus {
            box-shadow: none;
            border: 0;
            outline: 0;
            padding: 0;
            background-color: transparent;
            // font-family: $Dosis_Font !important;
            resize: none;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: "color 9999s ease-out, background-color 9999s ease-out";
            transition-delay: 9999s;
        }
    }
}

.contain-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: calc(1rem );

    @include mini {
        padding: 0 1rem;
    }
}

// .dashboard-contain {
//     margin-left: 15.3rem;
//     width: calc(100% - 15.3rem);
//     margin-top: 84px;
//     background-color: rgba($color: colormap(brand-primary-bg), $alpha: 0.6);
//     min-height: calc(100vh - 84px);

//     @include desktop {
//         margin-top: 74.59px;
//     }

//     @include mini {
//         margin-left: 0rem;
//         width: 100%;
//     }

//     @include mobile {
//         margin-top: 65.4px;

//     }

//     @include sm {
//         margin-top: 60.8px;
//         min-height: calc(100vh - 60.8px);
//     }

//     @include xs {
//         min-height: calc(100vh - 56px);
//         margin-top: 56px;
//     }
// }

// .kg-page {
//     padding: 2rem;
//     min-height: calc(100vh);
//     margin: 0 auto;
//     max-width: 1280px;
    
//     @include mobile {
//         padding: 1rem;
//     }
// }

// .contain {
//     margin: 0 auto;
//     max-width: 1380px;
//     padding: 0 2rem;

//     @include mini {
//         padding: 0 1rem;
//     }
// }

// .sr-only {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     overflow: hidden;
//     clip: rect(0, 0, 0, 0);
//     white-space: nowrap;
//     border: 0;
// }

// // Date picker styles
// .rdrDateRangePickerWrapper {

//     @include mobile {
//         flex-direction: column;
//         width: 280px;
//     }

//     .rdrDefinedRangesWrapper {
//         display: flex;
//         width: auto;
//         border-right: 0;
//         border-right: 1px solid colormap(brand-primary-border);
//         padding: 0.5rem 0;

//         @include mobile {
//             width: 100%;
//         }

//         .rdrStaticRanges {

//             @include mobile {
//                 width: 100%;
//                 display: flex;
//                 flex-direction: row;
//                 overflow: auto;
//                 padding-bottom: 0.5rem;

//                 &::-webkit-scrollbar {
//                     display: none;
//                 }
//             }

//             .rdrStaticRange {
//                 border-bottom: 0;
//                 white-space: nowrap;


//                 &:hover {
//                     span {
//                         background-color: transparent;
//                     }
//                 }

//                 .rdrStaticRangeLabel {
//                     font-size: 0.625rem;
//                     font-weight: 600;
//                     color: rgba($color: colormap(brand-brown), $alpha: 0.75) !important;


//                     @include mobile {
//                         font-size: 12px;
//                         font-weight: 600;
//                         padding: 0.5rem .75rem;
//                     }
//                 }

//                 &.rdrStaticRangeSelected {
//                     span {
//                         color: colormap(brand-brown) !important;

//                     }

//                     color: colormap(brand-primary) !important;
//                 }
//             }
//         }

//         .rdrInputRanges {
//             display: none;
//         }
//     }

//     .rdrCalendarWrapper {
//         padding: 1rem;

//         @include mobile {
//             padding-top: 0;
//         }

//         .rdrMonthAndYearWrapper {
//             height: initial;
//             padding: 0.5rem 0 0.1rem 0;

//             .rdrPprevButton {
//                 display: flex;
//                 flex-shrink: 0;
//                 margin: 0;
//                 background-color: rgba($color: colormap(brand-primary), $alpha: 0.25);

//                 i {
//                     border-color: transparent rgb(0 0 0) transparent transparent;
//                 }
//             }

//             .rdrNextButton {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 flex-shrink: 0;
//                 margin: 0;
//                 background-color: rgba($color: colormap(brand-primary), $alpha: 0.25);

//                 i {
//                     margin: 0;
//                     border-color: transparent transparent transparent rgb(0, 0, 0);
//                 }
//             }

//             .rdrMonthPicker {
//                 select {
//                     font-size: 0.625rem;
//                     font-weight: 600;
//                     color: colormap(brand-brown);
//                 }
//             }

//             .rdrYearPicker {
//                 select {
//                     font-size: 0.625rem;
//                     font-weight: 600;
//                     color: colormap(brand-brown);

//                     @include mobile {
//                         font-size: 12px;
//                         font-weight: 600;
//                     }
//                 }
//             }
//         }

//         .rdrDateDisplayWrapper {
//             border-radius: 5px;
//             background-color: colormap(brand-bg-tint);
//         }

//         .rdrMonths {
//             .rdrMonth {
//                 padding: 0;

//                 @include mobile {

//                     width: 22em !important;
//                 }

//                 .rdrWeekDays {
//                     .rdrWeekDay {
//                         font-size: 0.625rem;
//                         font-weight: 600;
//                         color: colormap(brand-brown);

//                         @include mobile {
//                             font-size: 12px;
//                             font-weight: 600;
//                         }
//                     }
//                 }

//                 .rdrDays {
//                     display: flex;
//                     flex-wrap: wrap;
//                     gap: 0; // Ensures no gaps between elements

//                     .rdrDay {
//                         height: 52.43px;
//                         padding: 0 !important;
//                         border: none !important;

//                         // border-right: 0.5px solid colormap(brand-primary-border);
//                         // border-bottom: 0.5px solid colormap(brand-primary-border);

//                         // // Keep the top border for the first row
//                         // &:nth-child(-n+7) {
//                         //     border-top: 0.5px solid colormap(brand-primary-border);
//                         // }

//                         // // Keep the left border for the first column
//                         // &:nth-child(7n+1) {
//                         //     border-left: 0.5px solid colormap(brand-primary-border);
//                         // }

//                         @include mini {
//                             height: 3.75rem;
//                         }

//                         @include mobile {
//                             height: 3rem;
//                         }

//                         .rdrDayNumber {
//                             top: 0 !important;
//                             bottom: 0 !important;

//                             span {
//                                 color: colormap(brand-brown) !important;
//                             }
//                         }

//                         .rdrStartEdge {
//                             background: colormap(brand-primary);
//                             border-radius: 0 !important;
//                             color: colormap(brand-primary) !important;
//                             left: 0 !important;
//                             top: 0 !important;
//                             bottom: 0 !important;
//                             right: 0 !important;
//                         }

//                         .rdrEndEdge {
//                             background: colormap(brand-primary);
//                             border-radius: 0 !important;
//                             color: colormap(brand-primary) !important;
//                         }


//                         .rdrDayStartPreview {
//                             border-top-right-radius: 50%;
//                             border-bottom-right-radius: 50%;
//                             border-radius: 0 !important;
//                             border: 0;
//                         }

//                         .rdrDayInPreview {
//                             border-top-left-radius: 50%;
//                             border-bottom-left-radius: 50%;
//                             border-top-right-radius: 50%;
//                             border-bottom-right-radius: 50%;
//                             border: 0;
//                             background-color: transparent;
//                         }

//                         .rdrDayEndPreview {
//                             border: 0;
//                             border-top-Left-radius: 50%;
//                             border-bottom-left-radius: 50%;
//                         }

//                         .rdrInRange {
//                             border-radius: 0 !important;
//                             background-color: colormap(brand-primary-bg);
//                             border: none !important;
//                             color: colormap(brand-primary) !important;
//                             left: 0 !important;
//                             top: 0 !important;
//                             bottom: 0 !important;
//                         }
//                     }

//                     .rdrDayNumber {
//                         top: 0 !important;
//                         bottom: 0 !important;

//                         span {
//                             color: colormap(brand-brown) !important;
//                         }
//                     }

//                     .rdrDayStartOfMonth {
//                         border-top-right-radius: 0;
//                         border-bottom-right-radius: 0;
//                     }


//                     .rdrDayStartOfWeek {
//                         border-top-right-radius: 0;
//                         border-bottom-right-radius: 0;
//                     }

//                     .rdrDayPassive {
//                         border-top-right-radius: 0;
//                         border-bottom-right-radius: 0;
//                         border: 0 !important;

//                         .rdrDayNumber {
//                             display: none;
//                             border: none !important;
//                         }
//                     }

//                     .rdrEndEdge {
//                         border-top-right-radius: 0;
//                         border-bottom-right-radius: 0;
//                         background-color: colormap(brand-primary);
//                         left: 0 !important;
//                         top: 0 !important;
//                         bottom: 0 !important;
//                         right: 0 !important;
//                     }


//                     .rdrDayActive {
//                         // background-color: red;
//                         border: 0;
//                         border-top-right-radius: 0;
//                         border-bottom-right-radius: 0;
//                     }

//                     .rdrDayHovered {
//                         border-radius: 0;
//                     }


//                     .rdrDayNumber {

//                         span {
//                             font-size: 0.625rem;
//                             font-weight: 600;

//                             @include mobile {
//                                 font-size: 12px;
//                                 font-weight: 600;
//                             }
//                         }

//                         span {
//                             font-size: 0.625rem;
//                             font-weight: 600;

//                             @include mobile {
//                                 font-size: 12px;
//                                 font-weight: 600;
//                             }
//                         }

//                         span:after {
//                             display: none;
//                             border: 0 !important;
//                         }
//                     }
//                 }
//             }
//         }

//         .rdrDays {

//             .rdrDayNumber {
//                 font-size: 0.625rem;
//                 font-weight: 600;

//                 @include mobile {
//                     font-size: 12px;
//                     font-weight: 600;
//                 }
//             }
//         }

//         .rdrDateDisplayWrapper {
//             background-color: transparent !important; // remove background
//             height: 35px;

//             .rdrDateDisplay {
//                 height: 100%;
//                 position: relative;
//                 margin: 0;
//                 justify-content: space-between;

//                 .rdrDateDisplayItem {
//                     box-shadow: none;
//                     border-radius: 0.61rem;
//                     height: 100%;
//                     margin-left: 0;
//                     width: 42%;
//                     display: block;
//                     flex: inherit;

//                     input {
//                         font-size: 0.625rem;
//                         font-weight: 500;
//                         color: colormap(brand-brown);
//                         border-radius: 0.61rem;
//                         height: 100%;
//                         background-color: transparent;
//                         background-color: rgba(colormap(brand-gray), 0.05);
//                         border: 2px solid rgba(colormap(brand-gray), 0.07);
//                         padding: 0 0.5rem;

//                         @include mobile {
//                             font-size: 12px;
//                             font-weight: 600;
//                         }

//                     }

//                     &.rdrDateDisplayItemActive {
//                         border: 2px solid colormap(brand-primary);
//                         background-color: transparent;
//                         border-color: rgba($color: colormap(brand-primary), $alpha: .5);
//                         outline: none;
//                         box-shadow: 0 0 0 4px rgba($color: colormap(brand-primary), $alpha: 17%);

//                         input {
//                             color: colormap(brand-brown);
//                         }
//                     }
//                 }

//                 &::after {
//                     content: "→";
//                     display: inline-block;
//                     color: colormap(brand-primary);
//                     font-weight: 600;
//                     font-size: 1.25rem;
//                     position: absolute;
//                     left: 50%;
//                     transform: translate(-50%, -50%);
//                     top: 50%;
//                     height: 100%;
//                 }
//             }
//         }
//     }
// }

// //Admin Login
// .admin_login {
//     max-width: 400px;
//     margin: 0 auto;
//     transform: translateY(50%);
// }

// .custom-select__control {
//     display: flex !important;
//     align-items: center !important;
//     width: 100%;
//     height: 2.67rem;
//     padding: 0.45rem 0.875rem;
//     font-size: 1rem;
//     font-weight: 600;
//     color: colormap(brand-brown);
//     background-color: rgba(colormap(brand-gray), 0.05) !important;
//     border: 2px solid rgba(colormap(brand-gray), 0.07) !important;
//     border-radius: 1rem !important;
//     transition: all 0.25s ease-in;
// }

// .custom-select__value-container {
//     padding: 0 !important;
// }

// .custom-select__input-container {
//     margin: 0 !important;
//     padding: 0 !important;
// }

// .custom-select__placeholder {
//     padding: 0 !important;
//     color: rgba(colormap(brand-black), 0.95) !important;
//     font-size: .825rem;
//     font-weight: 500;
//     opacity: 0.7;
// }

// .custom-select__single-value {
//     margin: 0 !important;
// }

// .custom-select__indicator-separator {
//     display: none !important;
// }

// .custom-select__indicator {
//     padding: 0 !important;
//     ;
//     color: #000 !important;
//     transition: all 0.25s ease-in;
// }

// .custom-select__control--is-focused {
//     border-color: rgba($color: colormap(brand-primary), $alpha: .5) !important;
//     outline: none !important;
//     box-shadow: 0 0 0 4px rgba($color: colormap(brand-primary), $alpha: 17%) !important;
// }

// .custom-select__menu {
//     background-color: colormap(brand-white) !important;
//     box-shadow: 4px 8px 20px 0 rgba(colormap(brand-brown), 0.1) !important;
//     border: 1px solid colormap(brand-primary-border) !important;
//     border-radius: 1rem !important;
//     transform-origin: top left !important;
//     max-height: 320px !important;
// }

// .custom-select__option {
//     font-size: 0.85rem !important;
//     font-weight: 500 !important;
//     color: colormap(brand-black) !important;
//     padding: 0.625rem 0.75rem !important;
//     background-color: transparent !important;

//     &:hover,
//     &.custom-select__option--is-focused {
//         background-color: transparent !important;
//     }
// }

// .custom-select__option--is-selected {
//     background-color: transparent !important;
// }

// .slick-prev,
// .slick-next {
// 	position: absolute !important;
// 	top: 0% !important;
//     right: 0 !important;
// 	width: 42px !important;
// 	height: 42px !important;
// 	background-color: #fff !important;
// 	/* Button background color */
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	border-radius: 50% !important;
// 	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
// 	transform: translateY(-62px) !important;
// 	z-index: 5 !important;
// 	cursor: pointer !important;

// 	@include mobile {
// 		display: none !important;
// 	}

// 	&::before {
// 		font-size: none !important;
// 		color: inherit !important;
// 		content: '';
// 		display: inline-block !important;
// 		width: 1.5rem !important;
// 		height: 1.5rem !important;
// 		background-size: contain !important;
// 		background-repeat: no-repeat !important;
// 	}

// 	&:hover {
// 		background-color: colormap(brand-brown) !important;

// 		&::before {
// 			filter: invert(1) !important;
// 		}
// 	}

// 	&.slick-prev {
// 		right: 100px !important;
//         left: inherit !important;

// 		&::before {
// 			background-image: url('/icons/arrow-small-right.svg');
//             transform: rotate(180deg);
// 			/* Use your custom left arrow icon */
// 		}
// 	}

// 	&.slick-next {
// 		right: 40px !important;

// 		&::before {
// 			background-image: url('/icons/arrow-small-right.svg');
// 			/* Use your custom right arrow icon */
// 		}
// 	}

// 	&.slick-disabled {
// 		cursor: not-allowed !important;
// 		pointer-events: none !important;
// 		display: none !important;
// 	}
// }

// .tiptap {
//     padding: 1rem;
//     height: 280px; 
//     overflow: auto;
//     margin: 0.25rem;

//     &::-webkit-scrollbar {
//         width: 4px;
//         margin-left: 1rem;
//     }

//     &::-webkit-scrollbar-thumb {
//         background: rgba($color: colormap(brand-gray), $alpha: .35);
//         border-radius: 10px;
//     }

//     :first-child {
//         margin-top: 0;
//     }

//     /* List styles */
//     ul,
//     ol {
//         padding: 0 1rem;
//         margin: 1.25rem 1rem 1.25rem 0.4rem;

//         li p {
//             margin-top: 0.25em;
//             margin-bottom: 0.25em;
//         }
//     }

//     ul {

//         li {
//             list-style: disc;
//         }
//     }

//     /* Heading styles */
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         line-height: 1.1;
//         margin-top: 2.5rem;
//     }

//     h1,
//     h2 {
//         margin-top: 3.5rem;
//         margin-bottom: 1.5rem;
//     }

//     h1 {
//         font-size: 1.4rem;
//     }

//     h2 {
//         font-size: 1.2rem;
//     }

//     h3 {
//         font-size: 1.1rem;
//     }

//     h4,
//     h5,
//     h6 {
//         font-size: 1rem;
//     }

//     /* Code and preformatted text styles */
//     code {
//         background-color: colormap(brand-primary-border);
//         border-radius: 0.4rem;
//         color: colormap(brand-brown);
//         font-size: 0.85rem;
//         padding: 0.25em 0.3em;
//     }

//     p {
//         font-size: 1rem;
//         margin-bottom: 1rem;
//         line-height: 1.5;
//     }

//     pre {
//         background: colormap(brand-brown);
//         border-radius: 0.5rem;
//         color: colormap(brand-white);
//         margin: 1.5rem 0;
//         padding: 0.75rem 1rem;

//         code {
//             background: none;
//             color: inherit;
//             font-size: 0.8rem;
//             padding: 0;
//         }
//     }

//     blockquote {
//         border-left: 3px solid colormap(brand-primary-border);
//         margin: 1.5rem 0;
//         padding-left: 1rem;
//     }

//     hr {
//         border: none;
//         border-top: 1px solid colormap(brand-primary-border);
//         margin: 2rem 0;
//     }

//     table {
//         border-collapse: collapse;
//         margin: 0;
//         overflow: hidden;
//         table-layout: fixed;
//         width: 100%;

//         td,
//         th {
//             border: 1px solid colormap(brand-primary-border);
//             box-sizing: border-box;
//             min-width: 1em;
//             padding: 6px 8px;
//             position: relative;
//             vertical-align: top;

//             >* {
//                 margin-bottom: 0;
//             }
//         }

//         th {
//             background-color: colormap(brand-gray);
//             font-weight: bold;
//             text-align: left;
//         }

//         .selectedCell:after {
//             background: colormap(brand-primary);
//             content: "";
//             left: 0;
//             right: 0;
//             top: 0;
//             bottom: 0;
//             pointer-events: none;
//             position: absolute;
//             z-index: 2;
//         }

//         .column-resize-handle {
//             background-color: colormap(brand-gray);
//             bottom: -2px;
//             pointer-events: none;
//             position: absolute;
//             right: -2px;
//             top: 0;
//             width: 4px;
//         }
//     }

//     .tableWrapper {
//         margin: 1.5rem 0;
//         overflow-x: auto;
//     }

//     &.resize-cursor {
//         cursor: ew-resize;
//         cursor: col-resize;
//     }

//     img {
//         display: block;
//         height: auto;
//         margin: 1.5rem 0;
//         max-width: 100%;

//         &.ProseMirror-selectednode {
//             outline: 3px solid var(--purple);
//         }
//     }

//     // iframe {
//     //     height: 100%;
//     //     width: 100%;
//     // }
// }