@use "../../../styles/mixin" as *;

.portfolio_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    position: fixed;
    border-radius: 5rem;
    width: 100%;
    top: 1rem;
    left: 50%;
    z-index: 100;
    transform: translate(-50%);
    padding: .75rem 3rem;
    background-color: rgba($color: colormap(background_secondary), $alpha: 1);
    // backdrop-filter: blur(500px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    .nav_links {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            font-size: 1rem;
            font-weight: 500;
            color: colormap(text_primary);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: colormap(text_secondary);
            }
        }
    }

    .nav_contact {
        font-size: 1rem;
        font-weight: 500;
        color: colormap(link);
        // border: 2px solid colormap(link);
        background-color: colormap(section_background);
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
        text-transform: capitalize;

        &:hover {
            background-color: colormap(highlight_light);
            color: colormap(text_primary);
        }
    }
}
